<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            display: flex;
        }
        .a{
            display: block;
            padding: 20px;
        }
        .q {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="a">
        <!-- <div class="q">Images_recipe</div> -->
        {% if Images_recipe %}
            <img width="300px" src="{{Images_recipe}}" alt="">
        {% endif %}
        
        <div class="q">Название: {{Name_recipe}}</div>

        <div class="q">Описание: {{Description}}</div>
        <div class="q">Автор: {{Author}}</div>
        <div class="q">Время приготовления: {{Cooking_time}}</div>
        <div class="q">Лайки: {{Likes}}</div>
        <div class="q">Дизлайки: {{Dislikes}}</div>
        <div class="q">Сохранений: {{Safes}}</div>
        <div class="q">Тип блюда: {{Type_recipe}}</div>
        <div class="q">Тэги: {{Tags}}</div>
        <div class="q">Количество ингредиентов: {{Count_ingredients}}</div>
        <div class="q">Ингредиенты: {{Ingredients}}</div>
        <div class="q">Шаги: {{Steps_text}}</div>
        <div class="q">Порций: {{Pontions}}</div>
        <div class="q">Калорий: {{Calorie_content}}</div>
        <div class="q">Белки: {{Squirrels}}</div>
        <div class="q">Жиры: {{Fats}}</div>
        <div class="q">Углеводы: {{Carbohydrates}}</div>
    </div>
</body>

</html>