{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0;
            display: flex;
        }
        .a{
            display: block;
            padding: 20px;
        }
        .q {
            margin-top: 10px;
        }
        .btn {
            width: 150px;
            height: 50px;
            /* position: absolute; */
            opacity: 0.5;
            /* margin-left: 45%; */
            margin-top: 30px;
            margin-bottom: 40px;
            /* position: sticky; */
        }
    </style>
</head>

<body>
    <div class="a">
        <button class="btn" onclick="window.history.back()">← Назад</button><br>
        <!-- <div class="q">Images_recipe</div> -->
        {% if Images_recipe %}
            <img width="200px" height="120px" src="{% static Images_recipe %}" alt="">
        {% endif %}
        
        <div class="q">Название: {{Name_recipe}}</div>

        <div class="q">Описание: {{Description}}</div>
        <div class="q">Автор: {{Author}}</div>
        <div class="q">Время приготовления: {{Cooking_time}}</div>
        <div class="q">Лайки: {{Likes}}</div>
        <div class="q">Дизлайки: {{Dislikes}}</div>
        <div class="q">Сохранений: {{Safes}}</div>
        <div class="q">Тип блюда: {{Type_recipe}}</div>
        <div class="q">Тэги: {{Tags}}</div>
        <div class="q">Количество ингредиентов: {{Count_ingredients}}</div>
        <div class="q">Ингредиенты: {{Ingredients}}</div>
        <div class="q">Шаги: {{Steps_text}}</div>
        <div class="q">Порций: {{Pontions}}</div>
        <div class="q">Калорий: {{Calorie_content}}</div>
        <div class="q">Белки: {{Squirrels}}</div>
        <div class="q">Жиры: {{Fats}}</div>
        <div class="q">Углеводы: {{Carbohydrates}}</div>
    </div>
</body>

</html>